# Все папки __pycache__ во всем проекте
**/__pycache__/
lines_counter.py
export_files.py

# Игнорировать все файлы и папки, начинающиеся с точки
.* 
# Игнорировать все директории, начинающиеся с точки
.*/ 
.vscode

# Но не игнорировать сам .gitignore
!.gitignore